/* search */
.search-group {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
    width: 1350px;
    font-size: 20px;
    color: #a9a9a9;
}
.search-box {
    display: inline-block;
    background-color: #fff;
    border-radius: 30px;
    width: 750px;
    height: 55px;
}
#button-search {
    display: inline-block;
    margin-top: 10px;
    width: 28px;
    height: 39px;
    background-image: url('../media/icon-search.png');
    background-color: white;
    border: none;
    object-fit: contain;
}
#search {
    display: inline-block;
    width: 672px;
    height: 34px;
    font-size: 15pt;
    border: none;
}
#search:focus {
    outline: none;
}

.section-group {
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    text-align: center;
}
.category-name {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    margin-left: 50px;
}

.card-set {
    margin-left: 6px;
    width: 1338px;
    margin-bottom: 50px;
    text-align: left;
}

.card {
    display: inline-block;
    background-color: white;
    width: 307px;
    height: 340px;
    margin-top: 20px;
    margin-right: 12px;
    margin-left: 12px;
    border-radius: 50px;
}
.image-area {
    width: 307px;
    height: 200px;
    border-radius: 50px 50px 0px 0px;
}
.card-image {
    position: relative;
    display: flex;
    width: 100%; /* 부모 요소 크기에 맞게 설정 */
    height: 100%; /* 부모 요소 크기에 맞게 설정 */
    border-radius: 50px 50px 0px 0px;
    object-fit: cover; /* 이미지를 카드 크기에 맞게 자름 */
}
.info-area{
    width: 307px;
    text-align: center;
}
.meeting-name {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}
.member-status {
    margin-top: 5px;
}
.member-status-text {
    font-weight: 300;
    font-size: 15px;
    display: inline-block;
}
.icon-people {
    display: inline-block;
    width: 18px;
    height: 18px;
    object-fit: cover;
}
.meeting-time {
    font-weight: 300;
    font-size: 15px;
    margin-top: 3px;
}
.tag-area {
    margin-top: 10px;
    margin-left: 20px;
    width: 267px;
    text-align: left;
}

.tag {
    display: inline-block;
    width: 80px;
    height: 35px;
    margin-left: 3px;
    margin-right: 3px;
}
.tag-box {
    backdrop-filter: blur(4px);
    border-radius: 75px;
    width: 80px;
    height: 30px;
}
.tag-text {
    position: absolute;
    top: 2px;
    left: 0px;
    line-height: 28px;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    width: 80px;
    height: 30px;
    color: white;
}


.div {
    position: relative;
    background-color: #f5f7fa;
    width: 100%;
    text-align: left;
    padding-bottom: 150px;
    font-size: 16px;
    color: black;
    font-family: Inter;
}

.group-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.groups-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 70px;
}

.icon-plus {
    display: inline-block;
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 50px;
}
